.events-container{
  width: 80%;
  margin-left: 50px;
  overflow-x: hidden;

  @media screen and (max-width: 750px) {
    margin-left: 0;
  }
}

.container{
  width: 100%;
}

button.events-add-event-btn{
  margin-left: 20px;
  margin-bottom: 0;
  display: block;
}

.events-info-container{
  scrollbar-width: auto;
}

.events-edit-event-btn{
  width: 50%;
}

.events-details{
  min-width: 900px;
}

.events-close-icon{
  cursor: pointer;
}