@import './../../settings.scss';

.cta-section-subtitle{
  font-weight: lighter;
  color: get-color(warning);
  display: block;
  height: 20px;
}

.cta-hollow-white-btn{
  border-color: #F8F9FB !important;
  color: #F8F9FB !important;
  margin-top: 20px !important;
  height: 45px;
  width: 15%;

  @media screen and (max-width: 720px){
    width: 40%;
  }
}

.cta-hollow-white-btn:hover{
  border-color: scale-color(#F8F9FB, $lightness: -14%) !important;
}

.cta-section-container{
  width: 80%;
  margin: 0 auto;
  height: 300px;
  
  @media screen and (max-width: 720px){
    height: 120px;
  }

  @media screen and (max-width: 500px){
    height: 200px;
  }
}

.cta-section-bgImg{
  position: relative;
  z-index: 10;
}