@import './../../settings.scss';

footer{
  margin-top: 30px;
  background-color: get-color(primary);
}

.footer{
  @media screen and (max-width: 900px) {
    max-width: 600px;
    margin: 0 auto;
  }
}

h3.footer-title{
  @media screen and (max-width: 900px) {
    line-height: 32px;
    padding-bottom: 10px;
  }
}

.menu > li > a {
  line-height: 1.5;
  padding: 0;
}

.menu > li > .footer-social-link{
  line-height: 32px;
  padding-bottom: 10px;

  @media screen and (max-width: 900px){
    padding: 0 20px 10px 0;
  }
}